*,
*::after,
*::before {
    margin: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
}

.body {
    font: 16px/22.4px "Times New Roman",Times,serif;
    background-color: hsla(0, 0%, 100%, .9);
}

.common-text,
.slider {
    padding: 0 16px 14px 16px;
}

@media (min-width: 633px) {
    .body {
        font-size: 20px;
    }

    .common-text {
        padding-right: 0;
        padding-left: 0;
        max-width: 600px;
        margin: 0 auto;
    }
}

.quote {
    font-style: italic;
}

.slide__description {
    color: grey;
}

.footer {
    display: flex;
    justify-content: space-evenly;
}

/* временные стили для удобства отладки */

.section {
    margin-top: 20px;
}

p {
    margin-top: 5px;
}


/* Switching sections */

.section {
    /* scroll-margin-top: 999999px; */
    display: none;
}

.section_active {
    display: block;
}

* {
    transition: opacity 0.1s;
}

.body_sections-hidden .header ~ *,
.body_sections-hidden .footer {
    opacity: 0;
}


/* Слайдер изображений */

.slider__row {
    display: flex;
    align-items: start;
    width: 100%;
    transition: 
        transform 0.3s, 
        height 0.3s;
    will-change: transform;
}

.slider {
    overflow: hidden;
}

.slider__slide {
    width: 100%;
    flex-shrink: 0;
}

.slider__slide img {
    display: block;
    width: 100%;
}

@media (min-width: 633px) {
    .slider__slide {
        padding: 0 48px;
    }

    .slider__slide img,
    .slide__description {
        max-width: 1004px;
        margin: 0 auto;
    }
}